* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.header {
  background-color: aqua;
  border: 5px solid black;
  padding: 10px;
  width: 100%;
}
main {
  padding: 10px;
  width: 100%;
  margin: 50px 0;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: "Lobster";
  font-size: 60px;
  letter-spacing: 3px;
}
h2 {
  font-size: 40px;
  text-align: center;
}
p {
  font-size: 29px;
  margin: 20px 0;
}
nav {
  text-align: center;
  width: 100%;
  margin: 20px 0;
}
.footer {
  background-color: aqua;
  text-align: center;
  border: 5px solid black;
  width: 100%;
}
img {
  border: 5px solid aqua;
  border-radius: 10%;
}
.header-ul li {
  list-style: none;
  display: inline;
  margin: 0 20px;
}
ul {
  margin-top: 20px;
}
li {
  list-style: none;
  font-size: 29px;
}
a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  body {
    color: blue;
    width: 90%;
    margin: 0 auto;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    line-height: 28px;
  }
  li {
    font-size: 20px;
    line-height: 28px;
  }
}
