body {
  font-family: "Montserrat", sans-serif;
}
.header {
  background-color: aqua;
}
h1 {
  text-align: center;
  font-family: "Lobster";
  font-size: 50px;
  letter-spacing: 3px;
}
nav {
  text-align: center;
}
.footer {
  background-color: aqua;
  text-align: center;
}
img {
  border: 5px solid aqua;
  border-radius: 10%;
}
