body {
  font-family: "Montserrat", sans-serif;
}
.header {
  background-color: aqua;
  border: 5px solid black;
  padding: 20px;
}
main {
  border: 5px solid greenyellow;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: "Lobster";
  font-size: 50px;
  letter-spacing: 3px;
}
nav {
  text-align: center;
}
.footer {
  background-color: aqua;
  text-align: center;
  border: 5px solid black;
}
img {
  border: 5px solid aqua;
  border-radius: 10%;
}
.header-ul li {
  list-style: none;
  display: inline;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  margin: 0 10px;
}
